body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, khaki, brown);
}

.container {
    background: rgb(194, 186, 113);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"], input[type="password"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #4cae4c;
}

.logout-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 18px;
}

ul li button:hover {
    color: #000;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

p#message, p#uploadMessage {
    color: rgb(94, 255, 0);
}
